

/* ====================================================================
                                RESET
=====================================================================*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

/* ====================================================================
                                
=====================================================================*/

fieldset {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin: 1rem;
}

fieldset > article > div {
    padding-block: 5px;
    display: flex;
}

article {
    width: 35vw;
}



.text__container input {
    margin-left: auto;
    margin-right: 12.8rem;
    border: 2px solid rgb(183, 183, 183);
}



input[type="radio"] {
    margin-left: 2px;
    margin-right: 2px;
}  



.gender {
    margin-left: 104px;
}


input[type="file"] {
    margin-left: 106px;
}

.country select {
    margin-left: 99px;
}

.languages label{
    padding-top: 20px;
    margin-right: 18px;
}

.languages p {
    align-self: flex-end;
}


.field {
    margin-block: 5px;
}

.field label:nth-of-type(1){
    margin-right: 38px;
}

input[type="checkbox"] {
    margin: 0 5px 0 10px;
}


input[type="submit"] {
    padding: 2px 6px;
    margin-right: 4px;
}

input[type="reset"] {
    padding: 2px 6px;
}

::placeholder {
    padding: 4px 4px;
}